body {
    font-family: Poppins;
}

h6 {
    color: #F18234;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 34px;
    margin-bottom: 22px;
}

h5 {
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}

label {

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    margin-top: 26px;
    margin-bottom: 12px;
}

p {
    margin: 0;
}

span {

    color: #707070;
}

.orange {
    color: #F18234;
}

.form-control {
    border: 1px solid #707070;
    display: inline-flex;
    height: 47.855px;
    padding: 11.84px 12px 12.016px 12px;
    align-items: center;
    flex-shrink: 0;
}

.row {
    --bs-gutter-x: 0;
    margin: 0;
}

.thead {
    margin-bottom: 18px;
    background-color: #EBF6FE;
    border-radius: 8px;
}

.classList-head {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    color: #db762d;
}

.tbody {
    background-color: #EBF6FE;
}


.modal-dialog {
    max-width: 493px;
}

.modal-content {
    border-radius: 8px;
}

.modal-footer {
    border-top: none;

}

.modal-footer button {
    background-color: #FC0D1B;
    border-radius: 8px;
    margin: 16px 24px;
}

.modal-footer .btn-done {
    border: none;
    border-radius: 5px;
    background-color: #F18234;
    color: #fff;
    padding: 15px 48px 15px 49px;
    justify-content: center;
    align-items: center;

}

.modal-footer .add {
    border: none;
    background-color: transparent;
    color: #34A2F1;

}

.btn-primary {
    background-color: #F18234;
    color: white;
    padding: 12px 32px;
    border: none;
}

.btn-primary:hover {
    background-color: #ce7230;
    color: white;
}


.std {
    width: 80%;
    margin: auto;
    /* z-index: 1; */
}

.add {
    color: #34A2F1;
    border: none;
    background: none;
}

.show-mob {
    display: none;
}

.hide-mob {
    display: flex;
}

@media (max-width: 992px) {
    .show-mob {
        display: block;
    }

    .hide-mob {
        display: none;
    }

    .modal-dialog {
        max-width: 493px;
    }

    .modal-footer {
        padding: 0;
    }

    .modal-footer button {
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .modal-footer .btn-done {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .tbody {
        background-color: #fff;
        border: 1px solid #707070;
    }

    h6 {
        font-size: 16px;
        margin-bottom: 14px;
    }

    .classList-head {
        background-color: #FEF3EB;
        border-top-left-radius: 8px;
    }

    .class-content-1 {
        display: flex;
        align-items: center;
        background-color: #FEF3EB;
        padding: 10px 10px;
        margin-bottom: 8px;
    }

    .row {
        gap: 12px;
    }

    .btn-primary {
        width: 100%;
    }
}