h6 {
    color: #F18234;
}

p {
    margin: 0;
}

.btnSubmit {
    background-color: #F18234;
    color: white;
    font-family: Poppins;
    padding: 12px 32px;
}

.btnSubmit:hover {
    background-color: #ce7230;
    color: white;
}

.class-content {
    display: inline-flex;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
}

.class-content-1 {
    color: #F18234;
}

span {
    color: #707070;
}

@media (max-width: 992px) {
    .class-content-1 {
        display: flex;
        align-items: center;
        background-color: #FEF3EB;
        padding: 10px 10px;
        margin-bottom: 8px;
    }
    .row {
        gap: 12px;
    }
}